body {
  background: #f9f7fe;
  font-family: arial, sans-serif;
}

header {
  text-align: center;
}

.col-2:hover,
.col:hover {
  color: #1062dc;
}

.weather-app {
  border: 1px solid #dadde1;
  background-color: white;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 800px;
}
h1 {
  color: #878787;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.row,
p,
#description,
#current-day {
  color: #878787;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
#current-temp {
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
}
#description {
  text-transform: capitalize;
}

#unit {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.forecast-temp {
  font-size: 10px;
}

.col-2:hover {
  border: 1px solid #132743;
  border-radius: 4px;
}

.footer {
  margin: 20px auto;
  max-width: 800px;
}
